* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
  background-color: #e5e5e5;
  color: white;
  font-family: "Karla", sans-serif;
}

.App {
  margin: 20px auto;
  width: 90vw;
  max-width: 550px;
  background-color: white;
}

.header {
  width: 100%;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px 37px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header--container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 7px;
}

.header--logo {
  width: 31px;
  height: 26px;
}

.header--title {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.1em;
}

.header--description {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.form {
  width: 90vw;
  max-width: 550px;
  padding: 36px 37px 55px 36px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form--input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 10px;
  font-family: "Karla", sans-serif;
}

.form--button {
  width: 100%;
  height: 35px;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  border: none;
  color: white;
  grid-column: span 2;
  font-family: "Karla", sans-serif;
  cursor: pointer;
}

.form--button:hover {
  opacity: 0.8;
}

.form--button:active {
  background: linear-gradient(90deg, #ca42fc 1.18%, #d681f5 100%);
}

#get-meme-button {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#save-button {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.form--meme {
  width: 100%;
  grid-column: span 2;
  margin-top: 19px;
  position: relative;
  display: flex;
  justify-content: center;
}

.meme--img {
  width: 100%;
  height: 100%;
}

.meme--text {
  font-family: Impact;
  font-size: 32px;
  font-weight: 900;
  line-height: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px black, -2px -2px black, 2px -2px black, -2px 2px black;
  position: absolute;
  word-break: break-word;
  padding: 0 15px;
}

.top {
  top: 18px;
}

.bottom {
  bottom: 18px;
}

#canvas {
  width: 477px;
  height: 268px;
  display: none;
}

@media (min-width: 800px) {
  .App {
    margin: 50px auto;
  }

  .header--title {
    font-size: 21px;
    line-height: 24px;
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 40px 1fr;
    column-gap: 17px;
    row-gap: 20px;
  }
}
